extends layout 


block conteudo 
    #biografia
        h2 Jessica Moura 
        h1 Biografia:
        
        p Jessica Cabral de Moura nasceu em 02 de agosto de 1997, na cidade de Campo Grande-Ms, filha de Luiz Carlos Rodrigues de Moura e Marta Oliveira Cabral de Moura viveu sua infancia toda em Dois Irmão do Buriti, onde aprendeu muitas coisas que ajudou no seu desenvolvimento pessoal e intelectual, aos 14 anos mudou-se para Bodoquena-Ms, na qual morou por 7 meses, voltou para Dois Irmãos do Buriti e vive ate hoje, seus pais se separaram e ambos foram morar separados, atualmente Jessica mora com seu pai e irmãos. 
        p Concluiu ensino medio aos 18 anos, em 2015, e em 2018 ingressou no Instituto Federal de Mato Grosso do Sul, no curso de tecnologia em Sistemas para Internet, e apesar de ter trancado a faculdade por motivos pessoias, hoje está cursando o 3° semestre.
        p Seu interesse para este curso foi por gostar de tecnologia, jogos e aplicativos, mas até em então não sabia sobre o curso. 
        
    