extends layout 


block conteudo 
    .contato
        h2 Contatos:
        #facebook
            a( target='_blank' href="https://www.facebook.com/people/Jessica-Moura/100028745855048")
                img(src="img/facebook.png", alt="") 
        #alinhar
            p Jessica Moura

        #insta
            a( target='_blank' href="https://www.instagram.com/jessmourac/?hl=pt-br")
                img(src="img/instagram.png", alt="Instagram") 
        #alinhar
            p @jessmourac

        #email
            img(src="img/email.png", alt="E-mail")
        #alinhar
            p jessicamourac1@gmail.com 