<!DOCTYPE html>
html(lang="pt-br")
    head
        link(rel="stylesheet", href="styles/estilos.css")
        title Bem-vindo!
    body
        #banner
           h1 Meu site pessoal
        #centro
            #menu

                ul 
                    li  
                        a(href="/") Início
                    li 
                        a(href="/bio") Biografia
                    li
                        a(href="/portfolio") Portfólio
                    li
                        a(href="/contato") Contato
            #conteudo

                block conteudo

        #rodape
            h8 ©TSI IFMS Campus Aquidauana