extends layout 


block conteudo 

    #portfolio
        #Loja_ficticia
            img(src="img/Page_1.png", alt="Jessica")
            p Descrição: Projeto desenvolvido na disciplina de Construções de Páginas Web I, utilizando a ferramenta mackflow, para fazer o protótipo do site, com o intuito de desenvolver uma loja fictícia.

        #Continua_site
            img(src="img/Page_2.png", alt="Site realizado para um trabalho da faculdade")
            p Descrição: Continuação do site.

    #portfolio2
        #cadastro
            img(src="img/Page_3.png", alt="Site realizado para um trabalho da faculdade")
            p Descrição: nessa página o cliente teria que fazer seu cadastro.